* {
    box-sizing: border-box;
}

body {
    background-color: lightpink;
    margin: 0px;
    padding: 0px;
}

.block {
    width: 100%;
    height: 200px;
    border: 4px dashed black;
    padding: 50px;
    margin: 10px 0px;
}

.no-block {
    background-color: salmon;
}
